.footerwrapper{display:flex;flex-direction:row;align-items:center;justify-content:space-between;width:100%;text-align:left;background-color:#000;padding:26px 15px!important}
.footerwrapper .menuwrapper{display:flex;flex-direction:row;align-items:center;justify-content:space-between;width:100%;text-align:left}
.footertopwrapper{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;justify-content:space-between;flex-direction:row;align-items:center}
.footertopwrapper .mat-nav-list{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;justify-content:space-between;padding-top:0;margin-top:18px!important}
.footertopwrapper .mat-list-item{text-align:center;height:auto;width:auto;position:relative;color:#6e6e6e;font-family:'RobotoRegular';text-transform:uppercase;padding:0 12px}
.footertopwrapper .mat-list-item a:hover{color:#ffc738}
.footertopwrapper .mat-list-item .mat-list-item-content{padding:0 4px}
.footertopwrapper .mat-nav-list{margin:0}
.footertopwrapper .mat-nav-list span.menuwrapper{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex}
.footertopwrapper .mat-menu-item{height:auto;border-radius:0!important;line-height:24px}
.footertopwrapper .mat-toolbar.mat-primary{background:transparent!important;color:#fff}
.footerbottomwrapper{background-color:#292929;text-align:center;padding:20px 15px!important}
.footerwrapper .mainwrappercontent .mat-card-content{justify-content:center;margin-bottom:0;display:-webkit-box;display:flex;flex-direction:column;align-items:center}
.footerbottomwrapper .mainwrappercontent .mat-card-content{margin-bottom:0}
.footerbottomwrapper .mainwrappercontent .mat-card-content p{color:#6f6f6f;font-family:"RobotoRegular";font-size:14px;line-height:20px}
.is-active{color:#ffc738}
.scroll-to-top{position:fixed;bottom:20px;right:30px;z-index:999999;border:none;outline:none;background-color:#ffc830;color:#fff;cursor:pointer;padding:5px 8px;border-radius:0;font-size:18px;opacity:0;transition:all .2s ease-in-out}
.scroll-to-top a{color:#fff!important}
.scroll-to-top:hover{background-color:#222224}
.show-scrollTop{opacity:1;transition:all .2s ease-in-out}
@media (max-width: 1199px) {
.footertopwrapper .mat-nav-list{margin:0}
.footertopwrapper .mat-nav-list .mat-list-item-content{display:flex;padding:0 12px}
}
@media (max-width: 991px) {
.footertopwrapper .mat-nav-list{margin:0;width:100%}
.footertopwrapper .mat-nav-list .mat-list-item{font-size:13px}
.footerwrapper .mainwrappercontent .mat-card-content{margin-bottom:0;justify-content:center;display:flex;flex-wrap:wrap;text-align:center}
}
@media (max-width: 840px) {
.footerwrapper .mainwrappercontent .mat-card-content{margin-bottom:0;justify-content:center;display:flex;flex-wrap:wrap;text-align:center}
.footerddress{margin-top:20px}
}
@media (max-width: 767px) {
.footerwrapper .mainwrappercontent .mat-card-content{display:flex;flex-wrap:wrap;text-align:center;justify-content:center}
.footerddress{margin-top:10px}
.footerwrapper{padding:10px}
}
@media (max-width: 600px) {
.footerwrapper .mainwrappercontent .mat-card-content{display:inline-block;text-align:center;justify-content:center;width:100%}
.footertopwrapper{display:inline-block;justify-content:space-between;flex-direction:row;align-items:center;width:100%}
.footertopwrapper .mat-nav-list span.menuwrapper{display:inline-block;width:100%;text-align:center}
.footertopwrapper .mat-nav-list .mat-list-item{float:none;padding:5px;text-align:center;display:inline-block;width:100%}
.footertopwrapper .mat-nav-list .mat-list-item .mat-list-item-content{display:inline-block!important;width:100%}
.footerddress{margin-top:14px;display:inline-block}
.footertopwrapper .mat-list-item:before{display:none}
}
@media (max-width: 480px) {
.footernavlist .mat-nav-list.mat-list-base{padding:0!important;display:block!important}
.footertopwrapper .mat-nav-list .mat-list-item .mat-list-item-content{display:block!important}
.footertopwrapper .mat-nav-list .mat-list-item{padding:0}
}