<app-header></app-header>

<!-- <mat-card class="vpblock1bg">
    <mat-card-content>
        <p class="pic-wrapper">
            <figure style="background-image: url(../../assets/images/homebannerbg.jpg)" class="pic-1"></figure>
        </p>
     
            <span class="vpblock1wrapper animation-box">
                    
                <img class="fly1" src="../../assets/images/fly1.png">
                <img class="fly2" src="../../assets/images/fly2.png">
                <img class="fly3" src="../../assets/images/fly3.png">
            <h2>FluentBUZZ is a new social<br>
                    influencer network<br> 
                    where the excitement for brands, <br>
                    influencers and online CPA <br>
                    opportunities catch fire!<br>
                    </h2>
                    <h4>Brands and CPA Lifetime <br>
                            customer opportunities we are <br>
                            looking for you!</h4>
            </span>
   
    </mat-card-content>
</mat-card> -->

<mat-card class="vpblock1bg influencebannertopblock homebanner">
        <mat-card-content class="topbannerhomewrapper">
        <span class="mainwrappercontent">
                <span class="vpblock1imgleftwrapper">
                        <img src="../../assets/images/homebannerbg.jpg" class="vpblock1imgleft">
                      </span>
                      
          <span class="topbannerhomecontentform">
                <h2>FluentBUZZ is a new social<br>
                    influencer network<br> 
                    where the excitement for brands, <br>
                    influencers and online CPA <br>
                    opportunities catch fire!<br>
                    </h2>
                    <h4>Brands and CPA Lifetime <br>
                            customer opportunities we are <br>
                            looking for you!</h4>
            
            
            <img class="fly1" src="../../assets/images/fly1.png">
            <img class="fly2" src="../../assets/images/fly2.png">
            <img class="fly3" src="../../assets/images/fly3.png">
          </span>
        </span>
        </mat-card-content>
    </mat-card>

<mat-card class="fbhomeblock1 generalcls">
    <mat-card-content>
        <mat-list class="newmodifieddiv">
            <mat-list-item class="competitionblocknew bg1 ptb-57" style="background-image: url(../../assets/images/fbhomeblock1bg1.jpg);background-size: cover; background-repeat: no-repeat; background-position: right center;">
                <span class="compnewblock2">
                        <span class="mainwrappercontent">
                                <span class="compnewblock2wrapperimg">
                                        <img src="../../assets/images/fbhomeblock1bg1sml.jpg">
                                    </span>
                                <span class="compnewblock2content">
                                    <mat-card-title>Why Go with Influencer Marketing?</mat-card-title>
                                    <mat-card-subtitle><span>Influencer marketing</span> is the newest way to promote your brand to potential buyers. This new method of marketing allows you to harness the power of popular social media personalities to push your brand and products to their massive armies of followers.</mat-card-subtitle>
                                    <mat-card-content><p>It also reduces the work you do in advertising your products.<br>
                                                Influencers create content promoting your brand, content based on their love and enthusiasm for what you do. That gives you powerful,<br> 
                                                authentic advertising created by consumers and targeting consumers. </p>
                                                <p>
                                                Influencer Marketing is a sterling opportunity for influencers to earn a living promoting the brands they already know and love. It’s a good deal for both sides of the equation, 
                                                and FluentBuzz has found a way to make it even better! </p> 
                                    </mat-card-content>
                                </span>
                        </span>
                </span>
            </mat-list-item>
            <mat-list-item class="competitionblocknew bg2 ptb-57" style="background-image: url(../../assets/images/fbhomeblock1bg2.jpg);background-size: cover; background-repeat: no-repeat; background-position: left center;">
                <span class="compnewblock2">
                    <span class="mainwrappercontent">
                        <span class="compnewblock2wrapperimg">
                            <img src="../../assets/images/fbhomeblock1bg2sml.jpg">
                        </span>
                        <span class="compnewblock2content">
                                <mat-card-title>Your One-Stop Shop for Influencer Talent</mat-card-title>                        
                                <mat-card-content><p><span class="txtuppercase">FluentBuzz offers</span> up a database of 50,000 influencers who specialize in promoting across a full range of products and lifestyle categories. Health and fitness, entertainment, travel, technology and more.  We have both major mainstream influencers as well as micro-influencers available for you to engage.</p>
                                </mat-card-content>
                                <mat-card-title>Create a Buzz Around your Product</mat-card-title>                        
                                <mat-card-content><p>Our model benefits brands and companies as much as it does the influencers with whom we work. Through <span>FluentBuzz</span>, you will find influencers with large followings and a love of your products and brands. They’ll spread their enthusiasm around to their followers and you will reap the rewards. In sales! </p>
                    <p class="sec2btn">Contact us today to schedule a discovery for your brand and see if you qualify for our programs!<button mat-button class="btnyellow sim-button buttoneffect" [routerLink]="['/contactus']">view contact us</button> </p>
                                    
                                </mat-card-content>
                        </span>
                    </span>
                </span>
            </mat-list-item>

            <mat-list-item class="competitionblocknew bg3 ptb-57" style="background-image: url(../../assets/images/fbhomeblock1bg3.jpg);background-size: cover; background-repeat: no-repeat; background-position: right center;">
                <span class="compnewblock2">
                        <span class="mainwrappercontent">
                                <span class="compnewblock2wrapperimg">
                                        <img src="../../assets/images/fbhomeblock1bg3sml.jpg">
                                    </span>
                                <span class="compnewblock2content">
                                    <mat-card-title>Influencers this is the New Wave! Get Involved! Engauge a new way to make your Influence Income BLOSSOM.</mat-card-title>
                                    <mat-card-content><p>For years, digital influencers have had a single road. They’ve had to wait for brands to come to them and offer them a contract. They’ve also been limited to brands that approach them. While this model has worked massively well for some influencers, it has left other influencers high and dry.</p>
<p>
                                            But now, there’s a new road to digital influencer success. <span>FluentBuzz</span> is a digital influencer network that works the same way the other networks operate, with a couple of key differences. </p>
                                            <p>
                                            The first difference is we let you, the influencer, pick the brands you want to work with. No more waiting for companies to come to you. You have your pick of what brands you want to promote to your followers. <br>
                                            Pick companies whose products you love and are enthusiastic about. This will keep you motivated and give your brand a highly excited member of their sales team.</p>
                                            <p>
                                            The other big difference between <span>FluentBuzz</span> and our counterparts is our compensation model. As you bring customers into our platforms, you make a commission off every purchase they make. 
                                            Any time they buy something from one of our brands, you get paid. </p>
                                            <p>
                                            And that doesn’t just happen once. You’ll get paid every time a customer you bring to us makes a purchase from us for as long as that customer maintains a relationship with our brands. This is an opportunity to create repeat customers who pay out to you for years into the future. While it may take time to build a significant customer base, the possibility of long-term revenue is real.</p>  
                                            <p class="buttonhomeblock3">
                                                    <button mat-button class="btnyellow sim-button buttoneffect" [routerLink]="['/influencers']">Please click here to learn more about becoming an influencer with FluentBuzz now!</button></p>
                                    </mat-card-content>
                                    
                                </span>

                        </span>
                </span>
                
               
            </mat-list-item>


        </mat-list>

    </mat-card-content>
</mat-card>



<app-footer></app-footer>